.product {
    width: 350px;
    height: 610px;
    border-radius: 8px;
    border: 1px solid #95a0a7;
    margin-bottom: 100px;

}

.product img {
    width: 336px;
    height: 336px;
    border-radius: 8px;
    margin: 8px;
}

.product h3 {
    margin-left: 5%;
    color: #0E161A;
    font-size: 21px;
    font-family: Lato;
    font-weight: 600;
    letter-spacing: 0.03px;
    word-wrap: break-word
}

.product-name {
    margin-top: 10px;
    margin-bottom: 0;
}

.product-price {
    margin-top: 12px;
    margin-bottom: 15%;
}

.product-sell {
    margin-bottom: 0;
}

.product-rating {
    margin-top: 10px;
    margin-bottom: 10px;
}


.product h4 {
    margin-left: 5%;
    color: #0E161A;
    font-size: 19px;
    font-family: Lato;
    font-weight: 700;
    letter-spacing: 0.03px;
    word-wrap: break-word
}

.product p {
    margin-left: 5%;
    color: #2a2b2b;
    font-size: 17px;
    font-family: Lato;
    font-weight: 500;
    letter-spacing: 0.03px;
    word-wrap: break-word
}

button {
    border: 0;
    width: 100%;
    margin: 0;
    border-radius: 8px;
    padding: 25.5px;
    color: #0E161A;
    font-size: 17px;
    font-family: Lato;
    font-weight: 600;
    letter-spacing: 0.19px;
    word-wrap: break-word;
    background-color: #FFE0B3;
}

button:hover {
    background-color: #eb910b;
}

.icon {
    margin-left: 15px;
}




@media screen and (max-width:1024px) {
    .product {
        margin: 100px;
    }
}